{% extends 'base.html' %}
{% block title %}Add Transaction{% endblock %}

{% block content %}
    <h3>Add New Transaction</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
    <a href="{% url 'transaction_list' %}" class="btn btn-secondary mt-3">← Back to Transactions</a>
{% endblock %}





<!--
<!DOCTYPE html>
<html>
<head>
    
    <title>Add Transaction</title>
</head>
 <h1>Add New Transaction</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <a href="{% url 'transaction_list' %}">← Back to Transaction List</a>
</body>
</html>
-->